@model sunuyone.Models.TrajetModel
@{
    ViewBag.Title = "Accueil";
}

<div class="jumbotron">
    <h1>Sunu Yoon</h1>   
</div>
<div class="row">
    @using (Html.BeginForm("Rechercher","Home"))
    {
        <fieldset>
            <legend>Rechercher un voyage</legend>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Depart, htmlAttributes: new { @for="usr"})
                    @Html.TextBoxFor(model => model.Depart, htmlAttributes: new { @class = "form-control" , id="usr"})
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Arrivee, htmlAttributes: new { @for = "usr" })
                    @Html.TextBoxFor(model => model.Arrivee, htmlAttributes: new { @class = "form-control", id = "usr" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="control-group">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "date-picker-2", @for = "control-label" })
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            @Html.TextBoxFor(model => model.Date, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-md-8">
                <input class="btn btn-info btn-lg" type="submit" value="Rechercher" />                   
            </div>

        </fieldset>
    }


</div>

@*<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="usr">Départ</label>
            <input type="text" class="form-control" id="usr">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="usr">Arrivée</label>
            <input type="text" class="form-control" id="usr">
        </div>
    </div>        
    <div class="col-md-3">
        <div class="control-group">
            <label for="date-picker-2" class="control-label">Date</label>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>  
    <div class="col-md-8">
        <a href="#" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-search"></span> Rechercher
        </a>
    </div>
    
</div>*@
